* {
	box-sizing: border-box;
}

body {
	background-color: hsl(60, 80%, 70%);
	font-family: sans-serif;
	padding-top: 20px;
	padding: 20px 0 0 0;
	margin: 0;
}

main {
	padding: 12px;
}

a {
	color: inherit;
}

a:hover {
	color: #40a;
}

button {
	background-color: hsl(55, 80%, 65%);
	border: solid 2px hsl(50, 80%, 60%);
	border-radius: 4px;
	font-size: 1.2em;
	margin: 4px 0;
}

button:hover {
	background-color: hsl(50, 80%, 60%);
}

fieldset {
	background-color: hsl(55, 80%, 65%);
	border: solid 2px hsl(50, 80%, 60%);
	border-radius: 4px;
	margin: 4px 0;
}

fieldset > legend {
	background-color: hsl(50, 80%, 60%);
	border-radius: 4px;
	padding: 4px;
}

label > input,
label > select {
	background-color: hsl(55, 80%, 65%);
	border: none;
	border-radius: 4px;
	display: inline-block;
	font-size: 1em;
	height: 1.5em;
	padding: 0 4px;
}

textarea {
	background-color: hsl(55, 80%, 65%);
	border: none;
	border-radius: 4px;
	padding: 4px;
	min-width: 250px;
	max-width: 500px;
}

.label-containing-input {
	background-color: hsl(50, 80%, 60%);
	border-radius: 4px;
	display: inline-block;
	margin: 4px 0;
	padding: 6px;
}

.label-containing-input > span {
	margin-right: 4px;
}

.zeb-footer {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 4px;
	padding: 0 10px;
}

.zeb-footer p {
	margin: 4px 0;
}